  .confirm-wrapper {
    text-align: center;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .success-icon {
    color: green;
    font-size: 200px;
    margin-bottom: 20px;
  }
