
<img src="<%= article.image_url %>" class="article-img" style="width: 75%">

<div class="infos">
  <div class="article-name" style="font-size: 12px;font-weight: bold;">
  <%= article.name %></div>
  <div><%= article.address %></div>
</div>

<%= link_to "<button class='booking-btn rounded-4'>Emprunter</button>".html_safe, new_article_booking_path(article.id), :class=>"booking-link" %>

<style>
  .booking-btn {
    width: 100%;
    background: black;
    padding: 1rem;
    color: white;
    font-weight: bold;

  }

  .article-img {
    width: 100%;
  }

  .article-name {
    margin-bottom: 0.2rem;

  }

  .infos {
    margin: 0.5rem 0;
    font-size: 14px;
  }
</style>
