<h1>Modifier l'article</h1>
<%= render "form", article: @article %>
<br>
<div class="col">
  <button onclick="history.back()" class='btn btn-warning text-white' style="border-radius: 25px; color: white;">Retour</button>
</div>
