<div class="homepage text-center my-5">
  <h2>Modifier l'article</h2>
</div>
<div class="mb-3">
  <div class="px-2">
    <%= render "form", article: @article %>
  </div>
  <br>
  <div class="col d-flex justify-content-center">
    <button onclick="history.back()" class='btn btn-secondary text-white rounded-pill'>Retour</button>
  </div>
</div>
