<div class="article-index">
  <div class="text-center mt-5">
    <h2>Mes objets</h2>
  </div>
  <div class="row">
    <% @articles.each do |article| %>
      <div class="col-12">
        <div class="card m-3 rounded p-3">
          <img src="<%= cl_image_path article.photo.key %>" class="article-picture">
          <div class="bg-light card mt-2 rounded p-3">
            <%= article.name %>
            <%= article.description %>
          </div>
          <div class="text-center mt-3">
            <%= link_to "Voir l'article", article_path(article.id), class: "btn btn-warning text-white rounded-pill" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
