<div class="homepage text-center fs-2" style="margin-top:50px">
    <p>Rechercher un article</p>
  </div>
  <div class="m-5 form-row justify-content-center">
    <form action="/articles/search" method="GET">
      <div class="form-floating mb-4">
        <input type="text" class="form-control" name="search" id="floatingInput" placeholder="Article" style="border-radius: 10px;">
        <label for="floatingInput">Article</label>
      </div>
      <div class="form-floating mb-4">
        <input type="text" class="form-control" name="address" id="floatingInput" placeholder="Adresse" style="border-radius: 10px;">
        <label for="floatingInput">Adresse</label>
      </div>
      <div class="buttonsearch text-center d-grid gap-2">
        <button type="submit" class="btn btn-warning text-white" style="border-radius: 25px;">Rechercher</button>
      </form>
    </div>

<br>

<div class="container">
  <div class="row">
    <div class="col">
    </div>
  </div>

</div>

<div style="width: 100%; height: 500px; border-radius:25px"
  data-controller="map"
  data-map-markers-value="<%= @markers %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
