<% if status == "pending"%>
  <h3 class="btn btn-outline-warning rounded-4 disabled">En attente</h3>
<% elsif status == "confirmed" %>
  <h3 class="btn btn-outline-success rounded-4 disabled mt-4">Confirmé</h3>
<% elsif status == "declined" %>
  <h3 class="btn btn-outline-danger rounded-4 disabled mt-4">Refusé</h3>
<% else %>
  <h3 class="btn btn-outline-secondary rounded-4 disabled mt-4">Terminé</h3>
<% end %>
