<div class="text-center mt-2">
  <% if status == "pending" %>
    <h3 class="text-warning">En attente</h3>
  <% elsif status == "confirmed" %>
    <h3 class="text-success">Confirmé</h3>
  <% elsif status == "declined" %>
    <h3 class="text-danger">Refusé</h3>
  <% else %>
    <h3 class="text-secondary">Terminé</h3>
  <% end %>
</div>
