<div class="confirm-wrapper">
  <div class="text-center mt-5">
    <h2>Demande envoyée</h2>
  </div>
  <div class="mt-3 mb-4">
    <p>Merci <%=current_user[:username]%> d’utiliser Capybara ! Ta demande a été envoyée à  <%=@article.user[:username]%>  for <%= @article.name %>.</p>
  </div>
  <div><i class="fa-solid fa-circle-check success-icon"></i></div>
  <div class="text-center mt-4"><%=link_to "Mes emprunts", bookings_path, class: "btn btn-warning btn-lg", style: "border-radius: 25px; color: white;"%></div>
</div>
