<h2 class="text-center my-5">Empruntés et prêtés</h2>
<nav>
  <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-borrowed-tab" data-bs-toggle="tab" data-bs-target="#nav-borrowed" type="button" role="tab" aria-controls="nav-borrowed" aria-selected="true">Empruntés</button>
    <button class="nav-link" id="nav-lent-tab" data-bs-toggle="tab" data-bs-target="#nav-lent" type="button" role="tab" aria-controls="nav-lent" aria-selected="false">Prêtés</button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-borrowed" role="tabpanel" aria-labelledby="nav-borrowed-tab">
    <%= render 'bookings/block', filtered: @borrowed %>
  </div>
</div>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade" id="nav-lent" role="tabpanel" aria-labelledby="nav-lent-tab">
    <%= render 'bookings/block', filtered: @lent %>
  </div>
</div>
