// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Vanillajs-datepicker sass file
@import 'vanillajs-datepicker/dist/css/datepicker.css';
@import 'vanillajs-datepicker/dist/css/datepicker-bs5.css';

// Your CSS partials
@import "components/index";
@import "pages/index";


.mapboxgl-popup-content {
  width: 310px !important;
  border-radius: 15px !important;
  background: rgba(255, 255, 255, 0.3) !important;
  backdrop-filter: blur(6px);
  padding: 0px 0px 0px 0px !important;
}

.mapboxgl-popup {
  max-width: 310px !important;
}

.mapboxgl-popup-anchor-bottom {
  max-width: 310px !important;
}

.mapboxgl-popup-tip {
  opacity: 0% !important;
}
